{% extends "base.html" %}
{% block head %}
<Title>add</Title>
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div style="font-size:4vh;" class="card-header">
            새로운 음식
        </div>
        <div class="card-body">
                <div style="width: 33.3%;" class="form-group">
                    <select class="form-control" name="food_type_id" required>
                        <option value="select">※ 반찬과 국, 둘 중 하나를 선택해 주세요&nbsp;&nbsp;&nbsp;&nbsp;▼</option>
                        <option value="1">반찬</option>
                        <option value="2">국</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label>이름</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>주재료</label>
                            <textarea class="form-control" rows="3" name="ingredient" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>양념</label>
                            <textarea class="form-control" rows="3" name="spice" required></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label>조리법</label>
                    <textarea class="form-control" rows="5" name="recipe" required></textarea>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>칼로리 (cal)</label>
                            <input type="text" class="form-control" name="calorie" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>탄수화물 (g)</label>
                            <input type="text" class="form-control" name="carbohydrate" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>단백질 (g)</label>
                            <input type="text" class="form-control" name="protein" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>지방 (g)</label>
                            <input type="text" class="form-control" name="vitamin" required>
                        </div>
                    </div>
                </div>
                <br>
                <button onclick="add()" class="btn btn-primary">등록하기</button>
        </div>
    </div>
</div>
<script>
  function add() {
    if (confirm("정말로 등록하시겠습니까?")) {
    const formData = new FormData();
        formData.append('food_type_id', document.querySelector('select[name="food_type_id"]').value);
        formData.append('name', document.querySelector('input[name="name"]').value);
        formData.append('ingredient', document.querySelector('textarea[name="ingredient"]').value);
        formData.append('spice', document.querySelector('textarea[name="spice"]').value);
        formData.append('recipe', document.querySelector('textarea[name="recipe"]').value);
        formData.append('calorie', document.querySelector('input[name="calorie"]').value);
        formData.append('carbohydrate', document.querySelector('input[name="carbohydrate"]').value);
        formData.append('protein', document.querySelector('input[name="protein"]').value);
        formData.append('vitamin', document.querySelector('input[name="vitamin"]').value);

      fetch(`/add`, {
        method: "POST",
        body: formData,
      })
      .then((response) => {
            if (response.status === 204) {
              alert("잘가~");
              window.location.href = `/add`;
            } else {
              alert("다시 입력하기~");
            }
          })
        .catch((error) => {
          console.error("요소 등록 중 오류 발생: " + error);
          windows.location.href = "/add";
        });
    }
    else {
    console.log("사용자가 등록을 취소했습니다.");
    window.location.href = window.location.href;
    }
  }
</script>
{% endblock %}
