{% extends "base.html" %}
{% block head %}
<title xmlns="http://www.w3.org/1999/html">recipe</title>
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div style="font-size:2vw" class="col-md-11">
                    <label>전체 글 목록</label>
                </div>
                <div class="col-md-1 text-right">
                    <a class="btn btn-success" href="/community/post">작성</a>
                </div>
         </div>
    </div>
        <div class="card-body">
            <form method="POST">
                <ul>
                    {% for post in posts %}
                    <li><strong>{{ post.title }}</strong>: {{ post.content }}</li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock %}
