{% extends "base.html" %}
{% block head %}
<title>Dinner Lotto</title>
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div style="font-size:4vh;" class="card-header">
            오늘의 메뉴 가챠
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md">
                    <div class="card">
                        <div style="font-size:3vh" class="card-header">
                            반찬
                        </div>
                        <div style="font-size:2.5vh" class="card-body">
                            {{ side_name }}
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div style="font-size:3vh" class="card-header">
                            국
                        </div>
                        <div style="font-size:2.5vh" class="card-body">
                            {{ soup_name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <span>
                &nbsp;&nbsp;&nbsp;<button name="data" onclick="getData()" class="btn btn-primary">뽑기</button>
            </span>
        </form>
        <br>
    </div>
</div>
<img src="/static/images/food-lotto.jpg" alt="Your Image">
    <!-- 그림 하나 넣기 -->
{% endblock %}
