    {% extends "base.html" %}
    {% block head %}
    <title>Dinner Lotto</title>
        {{ super() }}
    {% endblock %}
    {% block content %}
    <div class="container">
        <div class="card">
            <div style="font-size:4vh;" class="card-header">
                오늘의 메뉴 가챠
            </div>
            <div class="card-body">
                <p style="font-size: 0.8vw;">※ 반찬부터 국까지 드래그 해서 복사 후, 메모장에 저장해 봅시다</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div style="font-size:3vh" class="card-header">
                                반찬
                            </div>
                            <div style="font-size:2.5vh" class="card-body">
                                 : {{ side_name }}
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div style="font-size:3vh" class="card-header">
                                국
                            </div>
                            <div style="font-size:2.5vh" class="card-body">
                                 : {{ soup_name }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="/static/images/food-lotto.jpg" alt="Your Image">
                    </div>
                </div>
            </div>
            <form>
                &nbsp;&nbsp;&nbsp;<button name="data" onclick="getData()" class="btn btn-primary">뽑기</button>
            </form>
            <br>
        </div>
    </div>
    {% endblock %}
