{% extends "base.html" %}
{% block head %}
<title>search</title>
  {{ super() }}
{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        {% for food_name_group in food_name %}
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <div style="font-size:2.5vh; text-align: center;">
                            <a class="rm-underline" href="/food/{{ food_name_group.name }}">
                                {{ food_name_group.name }}
                            </a>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}