{% extends "base.html" %}
{% block head %}
<title xmlns="http://www.w3.org/1999/html">recipe</title>
  {{ super() }}
{% endblock %}
{% block content %}
<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <div style="font-size:2vw" class="col-md">
        {{ side_name | safe }}
      </div>
    </div>
    <div class="card-body">
      <form method="POST" class="post-form">
        {% for side_detail_group in side_detail %}
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-header">
              주재료
              </div>
              <div style="font-size:2.5vh" class="card-body form-group">
                <textarea class="form-control" rows="3" name="ingredient" required>{{ side_detail_group["ingredient"] | safe }}</textarea>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-header">
                양념
              </div>
              <div style="font-size:2.5vh" class="card-body form-group">
                <textarea class="form-control" rows="3" name="spice" required>{{ side_detail_group["spice"] | safe }}</textarea>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">
            조리법
          </div>
          <div style="font-size:2.5vh" class="card-body form-group">
            <textarea class="form-control" rows="5" name="recipe" required>{{ side_detail_group["recipe"] | safe }}</textarea>
          </div>
        </div>
        {% endfor %}
        <br>
        <div class="row">
          {% for side_nutrient_group in side_nutrient %}
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                칼로리 (cal)
              </div>
              <div class="card-body form-group">
                <input type="text" class="form-control" name="calorie" required value={{side_nutrient_group["calorie"]}}>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                탄수화물 (g)
              </div>
              <div class="card-body form-group">
                <input type="text" class="form-control" name="carbohydrate" required value={{side_nutrient_group["carbohydrate"]}}>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                단백질 (g)
              </div>
              <div class="card-body form-group">
                <input type="text" class="form-control" name="protein" required value={{side_nutrient_group["protein"]}}>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-header">
                비타민 (g)
              </div>
              <div class="card-body form-group">
                <input type="text" class="form-control" name="vitamin" required value={{side_nutrient_group["vitamin"]}}>
              </div>
            </div>
            {% endfor %}
          </div>
          <div>
            <br>
            <button type="submit" class="btn btn-primary">완료</button>
            <a href="/side/{{side_name}}" class="btn btn-info">취소</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
{% endblock %}