{% extends "base.html" %}
{% block head %}
<title xmlns="http://www.w3.org/1999/html">recipe</title>
  {{ super() }}
{% endblock %}
{% block content %}
<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <div style="font-size:2vw" class="col-md">
        <label>{{ side_name | safe }}</label>
      </div>
    </div>
      <div class="card-body">
          {% for side_detail_group in side_detail %}
          <div class="row">
            <div class="col-md">
              <div class="card">
                <div class="card-header">
                주재료
                </div>
                <div style="font-size:2.5vh" class="card-body">
                  <pre>{{ side_detail_group["ingredient"] | safe }}</pre>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card">
                <div class="card-header">
                  양념
                </div>
                <div style="font-size:2.5vh" class="card-body">
                  <pre>{{ side_detail_group["spice"] | safe }}</pre>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="card">
            <div class="card-header">
              조리법
            </div>
            <div style="font-size:2.5vh" class="card-body">
              <pre>{{ side_detail_group["recipe"] | safe }}</pre>
            </div>
          </div>
          {% endfor %}
          <br>
          <div class="row">
            {% for side_nutrient_group in side_nutrient %}
            <div class="col-md-3">
              <div class="card">
                <div class="card-header">
                  칼로리 (cal)
                </div>
                <div class="card-body">
                  {{ side_nutrient_group["calorie"] | safe }}cal
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-header">
                  탄수화물 (g)
                </div>
                <div class="card-body">
                  {{ side_nutrient_group["carbohydrate"] | safe }}g
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-header">
                  단백질 (g)
                </div>
                <div class="card-body">
                  {{ side_nutrient_group["protein"] | safe }}g
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-header">
                  지방 (g)
                </div>
                <div class="card-body">
                  {{ side_nutrient_group["vitamin"] | safe }}g
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <br>
          <a href="/side/{{side_name}}/edit" class="btn btn-primary">수정하기</a>
          <button onclick="delete_side('{{ side_name | safe }}')" class="btn btn-danger">
            삭제하기
          </button>
    </div>
  </div>
</div>
<br>
<script>
  function delete_side(side_name) {
    if (confirm("정말로 삭제하시겠습니까?")) {
      fetch(`/side/${side_name}/delete`, {
        method: "POST",
      })
        .then((response) => {
          if (response.status === 204) {
            alert("잘가~");
            window.location.href = "/side";
          } else {
            alert("메뉴 삭제 중 오류가 발생했습니다.");
          }
        })
        .catch((error) => {
          console.error("요소 삭제 중 오류 발생: " + error);
        });
    }
    else {
    console.log("사용자가 삭제를 취소했습니다.");
    }
  }
</script>
{% endblock %}