{% extends "base.html" %}
{% block head %}
<title>recipe</title>
  {{ super() }}
{% endblock %}
{% block content %}
&nbsp;
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="col-md">
        <label>{{ soup_name | safe }}</label>
        <form>
          <span>
            <button onclick="add_list()">수정</button>
          </span>
        </form>
        <form>
          <span>
            <button onclick="delete_list()">삭제</button>
          </span>
        </form>
      </div>
    </div>
    <div class="card-body">
      {% for soup_detail_group in soup_detail %}
      <div class="row">
        <div class="col-md">
          <div class="card">
            <div class="card-header">
            주재료
            </div>
            <div style="font-size:2.5vh" class="card-body">
              {{ soup_detail_group["ingredient"] | safe }}
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <div class="card-header">
              양념
            </div>
            <div style="font-size:2.5vh" class="card-body">
              {{ soup_detail_group["spice"] | safe }}
            </div>
          </div>
        </div>
      </div>
      &nbsp;
      <div class="card">
        <div class="card-header">
          조리법
        </div>
        <div style="font-size:2.5vh" class="card-body">
          {{ soup_detail_group["recipe"] | safe }}
        </div>
      </div>
      {% endfor %}
      &nbsp;
      <div class="row">
        {% for soup_nutrient_group in soup_nutrient %}
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              칼로리 (cal)
            </div>
            <div class="card-body">
              {{ soup_nutrient_group["calorie"] | safe }}cal
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              탄수화물 (g)
            </div>
            <div class="card-body">
              {{ soup_nutrient_group["carbohydrate"] | safe }}g
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              단백질 (g)
            </div>
            <div class="card-body">
              {{ soup_nutrient_group["protein"] | safe }}g
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-header">
              비타민 (g)
            </div>
            <div class="card-body">
              {{ soup_nutrient_group["vitamin"] | safe }}g
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
&nbsp;
{% endblock %}